# 忽略keil的生成的output
2.software/1.Basic-chapter/0.template/MDK-ARM/template
# 2.software\1.Basic-chapter\1.GPIO\MDK-ARM\GPIO

# 忽略GUI设置
2.software/1.Basic-chapter/0.template/MDK-ARM/template.uvguix.kingham
2.software/1.Basic-chapter/0.template/MDK-ARM/template.uvguix.lantiansb
